/* Basic styling */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
.textAlt {
    font-weight: bold;
    color:rgb(78, 11, 141)
}
ol li {
    list-style-type: upper-roman;
    list-style-position: inside;
}
ul li {
    list-style-type: square;
    list-style-position: inside;
}
.alink {
    /*display: block;*/
    color: rgb(12, 56, 201);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* header in grid of 3 cols: logo, name, funder */
header {
    width: 1000px;
    margin: 20px auto; 
    background-color: #f2f2f2;
    padding: 20px;
}

nav {
    /*width: 936px;*/
    margin: 20px auto; 
    background-color: rgb(9,32,108);
    color:bisque;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    list-style-type: none;
}

nav a {
    display: block;
    color: rgb(241, 244, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover
  {
      background: rgb(157, 158, 243);
      color: #0a0a0a;
  }

  
nav a:visited
  {
        color: rgb(191, 216, 224);
  }


footer {
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: rgb(72, 10, 107);
    padding: 20px;
    margin: 20px auto; 
    text-align: center;
}
